.newsletterContainer {
	padding: 15% 10%;
	background-image: url('/img/newLetter.avif');
	box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 50%);
	width: 100%;
}
.subHeading {
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 4%;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
}
.heading {
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 0;
	font-weight: 700;
	margin-bottom: 30px;
	color: #fff;
}
.textField > div > fieldset {
	border: 1px solid #fff;
	border-radius: 25px;
}
.textField > div > input {
	border-radius: 25px;
	background: #fff;
	font-size: 16px;
	width: 360px;
	padding: 4% 8%;
}
.textField > div > input::placeholder {
	color: #a59e9e;
	opacity: 1; /* Firefox */
}
.textField > div {
	border: none;
}
.newsLetterBtn {
	margin-top: 5%;
	background-color: #18b1ae;
	color: #fff;
	border: 1px solid #18b1ae;
	padding: 3% 7%;
	width: 40%;
	font-size: 16px;
	border-radius: 50px;
	cursor: pointer;
	font-weight: 600;
}
.newsLetterBtn:hover {
	background-color: #fff;
	color: #18b1ae;
	border: 1px solid #18b1ae;
}

@media screen and (max-width: 480px) {
	.heading {
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0;
	}
	.newsLetterBtn {
		background-color: #18b1ae;
		color: #fff;
		border: 1px solid #18b1ae;
		padding: 4% 4%;
		width: 40%;
		font-size: 14px;
		border-radius: 50px;
		cursor: pointer;
		font-weight: 600;
	}
}
