.primaryBg {
	background-color: #18b1ae;
}
.m64 {
	margin-top: 64px;
}
.swiper-button-next,
.swiper-button-prev {
	color: #18b1ae !important;
	background: #ffffffab;
	border-radius: 23px;
	padding: 1.5% 1.5%;
}
.swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 16px;
}
@media screen and (max-width: 480px) {
	.homepageSlider > div > div > .swiper-slide {
		width: 100% !important;
	}
	.swiper-slide {
		width: 80%;
	}

	.swiper-slide:nth-child(n) {
		width: 60% !important;
	}
	.swiper-slide:nth-child(2n) {
		width: 60% !important;
	}
	.swiper-slide:nth-child(3n) {
		width: 60% !important;
	}
	.swiper-slide:nth-child(4n) {
		width: 60% !important;
	}
}
