.benifit_summary_main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background-color: white;
  color: black;
}
.benifits {
  padding: 0 24px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.benifit_summary_main .heading {
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 0;
  font-weight: 700;
}
.benifits_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.benifits_box_child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  max-width: 180px;
}
.benifits_box_child .name {
  color: black;
  opacity: 0.5;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}
.benifits_box_child .description {
  color: black;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
}
.chooseUs {
  padding: 0 24px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.satisfaction_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.satisfaction_cont .left {
  display: flex;
  flex-direction: column;
  max-width: 384px;
  gap: 3rem;
}
.pink_heading {
  font-size: 160px;
  line-height: 218px;
  font-weight: 400;

  color: #5a6675;
}
.satisfaction_cont .right {
  display: flex;
  flex-direction: column;
  max-width: 384px;
  gap: 3rem;
}
.chooseUs .desc {
  font-size: 21px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .satisfaction_cont {
    flex-direction: column;
    gap: 2rem;
  }
  .benifit_summary_main,
  .heading {
    font-size: 32px !important;
    line-height: 30px !important;
  }
  .pink_heading {
    font-size: 60px !important;
    line-height: 55px !important;
    font-weight: 400;
    color: #ff5c6b;
  }
}

@media screen and (max-width: 1440px) {
  .satisfaction_cont {
    gap: 5rem;
  }
}