body {
	margin: 0;
	padding: 0;
}
.descrip {
	color: #fff;
}

.header {
	position: relative;
	height: 550px;
	width: 100%;
	/* background: linear-gradient(180deg,#0086d6 -25%,#001a72 139.5%); */
	background-color: #18b1ae;
	background-image: url(../../components/assets/banner.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	align-items: center;
}
.header-content {
	margin-left: 15vw;
	/* height: 100px;
    width: 300px; */
	max-width: 400px;
	/* border: 2px solid white; */
	display: flex;
	flex-direction: column;
	/* gap: 1rem; */
}
.first-row {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.third-row p {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0;
	font-weight: 400;
}
